* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Figtree";
    src: url(./fonts/Figtree-VariableFont_wght.ttf);
}
button,
a {
    color: inherit;
    font-size: inherit;
    background: inherit;
    border: inherit;
}
.content {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}
body {
    background: #06171e;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: "Figtree";

    header {
        background: #09212a;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5%;
        .position-of-logo {
            width: 100%;
            display: flex;
            justify-content: start;
        }
    }
    main {
        flex: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4% 1%;
        .position-of-header-and-pictures {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-self: center;
            h1 {
                display: flex;
                justify-content: center;
                color: white;
                font-size: 80px;
                font-weight: bold;
                margin-bottom: 32px;
            }
            .picture-show {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 24px;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 11%;
                    border: 2px solid #124658;
                    object-fit: cover;
                    margin-bottom: 16px;
                    cursor: pointer;
                }
                img:hover {
                    border-color: aquamarine;
                }
                img:active {
                    border-color: #f64e85;
                }
            }
        }
    }
    footer {
        height: fit-content;
        width: 100%;
        background: #09212a;
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        border-radius: 40% 40% 0 0;
        padding: 16px 0 32px 0;
        .img-position {
            justify-self: center;
            align-self: center;
            .legal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;
                img {
                    width: 240px;
                }
                h2 {
                    font-size: 24px;
                    color: rgba(98, 123, 132, 1);
                }
            }
        }
    }

    dialog {
        margin: auto;
        width: 650px;
        border-radius: 5%;
        border: none;
        color: white;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 32px;
            button {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            button:hover {
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 10%);
            }
            button:active {
                background-color: rgba(255, 255, 255, 30%);
            }
        }

        main {
            background: rgb(9, 33, 42);
            flex: 1;
            img {
                width: 80%;
                height: 500px;
                object-fit: cover;
                object-position: center;
                background: rgb(9, 33, 42);
            }
        }

        footer {
            border-radius: 0 0 0 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-top: 32px;
            img {
                width: 40px;
                height: auto;
                padding: 12px;
                background: rgba(253, 91, 79, 10%);
                border-radius: 100%;
                cursor: pointer;
            }
            img:hover {
                background: rgba(253, 91, 79, 20%);
                border-radius: 50%;
            }
        }
    }
}

dialog::backdrop {
    background-image: linear-gradient(45deg, #09212a, #06171e, black, teal);
    opacity: 0.75;
}

@media (max-width: 1060px) {
    body {
        header {
            .position-of-logo {
                justify-content: center;
            }
        }
        main {
            .position-of-header-and-pictures {
                padding: 0 8px;
                h1 {
                    font-size: 48px;
                }
                .picture-show {
                    gap: 8px;
                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        footer {
            border-radius: 20% 20% 0 0;
            .img-position {
                .legal {
                    img {
                        width: 112px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    body {
        main {
            .position-of-header-and-pictures {
                div {
                    display: flex;
                    align-items: center;
                    h1 {
                        color: white;
                        font-size: 20px;
                        margin-bottom: 32px;
                    }
                }
                .picture-show {
                    gap: 16px;
                }
            }
        }

        footer {
            padding: 16px 0 16px 0;
            .img-position {
                .legal {
                    gap: 8px;
                    img {
                        width: 120px;
                    }
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }

        dialog {
            min-height: 100dvh;
            width: 100%;
            background: #09212a;
            main {
                justify-content: center;
                flex: 1;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    object-fit: contain;
                    height: 80dvh;
                }
            }
            footer {
                flex: 0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
