* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Figtree";
    src: url(./fonts/Figtree-VariableFont_wght.ttf);
}

button,
a {
    color: inherit;
    font-size: inherit;
    background: inherit;
    border: inherit;
}

.content {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}

body {
    background: #06171e;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: "Figtree";

    header {
        background: #09212a;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .position-of-header-and-pictures {
            /* display: flex;
            flex-direction: column;
            align-items: center; */

            h1 {
                display: flex;
                justify-content: center;
                color: white;
                font-size: 80px;
                font-weight: bold;
                margin-bottom: 32px;
            }

            .picture-show {
                display: flex;
                flex-wrap: wrap; /*  allow items to wrap  */
                justify-content: center; /*  horizontally center items  */
                gap: 24px;

                /*! .div1 {   Nicht notwendig, kann alternativ verwendet werden, muss aber mit media queries bearbeitet werden!
                    grid-area: 1 / 1 / 2 / 2;
                }
                .div2 {
                    grid-area: 1 / 2 / 2 / 3;
                }
                .div3 {
                    grid-area: 1 / 3 / 2 / 4;
                }
                .div4 {
                    grid-area: 1 / 4 / 2 / 5;
                }
                .div5 {
                    grid-area: 1 / 5 / 2 / 6;
                }
                .div6 {
                    grid-area: 1 / 6 / 2 / 7;
                }
                .div7 {
                    grid-area: 1 / 7 / 2 / 8;
                }
                .div8 {
                    grid-area: 2 / 2 / 3 / 3;
                }
                .div9 {
                    grid-area: 2 / 3 / 3 / 4;
                }
                .div10 {
                    grid-area: 2 / 4 / 3 / 5;
                }
                .div11 {
                    grid-area: 2 / 5 / 3 / 6;
                }
                .div12 {
                    grid-area: 2 / 6 / 3 / 7;
                } */

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 11%;
                    border: 2px solid #124658;
                    object-fit: cover;
                    margin-bottom: 16px;
                }
                img:hover {
                    border-color: aquamarine;
                }

                img:active {
                    border-color: #f64e85;
                }
            }
        }
    }

    footer {
        height: fit-content;
        width: 100%;
        background: #09212a;

        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        border-radius: 40% 40% 0 0;
        padding: 16px 0 32px 0;

        .img-position {
            justify-self: center;
            align-self: center;

            .legal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;
                img {
                    width: 240px;
                }

                p {
                    font-size: 24px;
                    color: rgba(98, 123, 132, 1);
                }
            }
        }
    }

    dialog {
        margin: auto;
        width: fit-content;
        border-radius: 5%;
        border: none;
        color: white;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 32px;

            button {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                
            }

            button:hover {
                
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 10%);

            }

            button:active {
                background-color: rgba(255, 255, 255, 30%);
            }
        }

        main {
            img {
                width: 600px;
                height: 400px;
                object-fit: cover;
                object-position: center;
            }
        }

        footer {
            border-radius: 0 0 0 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-top: 32px;
            img {
                width: 40px;
                height: auto;
                padding: 12px;
                background: rgba(253, 91, 79, 10%);
                border-radius: 100%;
            }
            img:hover {
                background: rgba(253, 91, 79, 20%);

                border-radius: 50%;
            }
        }
    }
}


@media (max-width: 1000px) {
    

    
}